<%- include('../includes/header') -%>
<div class="container-fluid">
    <h1 class="text-center">Games</h1>
    <div class="container-fluid" id="gamesOwnedContainer">
        <div class="container-fluid" id="gamesOwnedByMe">
            <div class="row" id="gamesOwnedTitleRow">
                <div class="col"><strong>Game Name</strong></div>
                <div class="col"><strong>Public</strong></div>
                <div class="col"><strong>Game reference</strong></div>
                <div class="col-5"><strong>Invite link</strong></div>
                <div class="col-2"><strong>Discord Server</strong></div>
                <div class="col"></div>
            </div>
            <% if(gamesOwned.length){
                for(let game of gamesOwned)
                {
                    let inviteURL = `${host}/games/invite/${game.reference}`;
                    %>
                    <div class="row" data-reference="<%= game.reference %>">
                        <div class="col"><%= game.name %></div>
                        <div class="col"><%= game.public?"Public":"Private" %></div>
                        <div class="col"><%= game.reference %></div>
                        <div class="col-5">
                            <a href="<%= inviteURL %>" target="_blank"><%= inviteURL %></a>
                        </div>
                        <div class="col-2"><%= game.serverName?game.serverName:'No server linked'%></div>
                        <div class="col">
                            <button class="btn btn-warning gameCommands">Commands</button>
                            <a class="btn btn-info" role="button" href="/games/edit/<%= game.reference%>">Game Settings</a>
                        </div>
                    </div>
                    <%
                }
            %>
            <% } else { %>
                You have not created any games.
            <% }%>
        </div>
        <div class="container" id="newGamesUI">
            <button class="btn btn-primary" id="newGameButton">Create a game</button>
        </div>
    </div>

    <div class="modal" id="gameDetailsModal">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">
                <div class="modal-title">
                    Game Instructions <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4"><strong>Command</strong></div><div class="col"><strong>Command purpose</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            linkServer <span class="gameCommandReference"></span>
                        </div>
                        <div class="col">
                            This links the game in the toolkit's system with the server. The bot can then listen for commands related to this game.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="newGameModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-title">
                    Create a new Game
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        In order for the application to run on a specific discord server, you (or the server's owner) need to invite the bot to run on your server. The invite <a href="https://discordapp.com/api/oauth2/authorize?client_id=528004176123527179&permissions=268954704&scope=bot" target="_blank">link for the bot is found here</a> The bot requires a lot of permissions to run properly. You will also need to fill in the following details.
                        Once these steps are taken, a bot command will be generated to allow you to connect the game server to the game here.
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="gameName">Game Name</label>
                        <div class="col">
                            <input type="text" class="form-control" id="gameName" name="gameName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="gameDescription">Game Description</label>
                        <div class="col">
                            <textarea type="text" class="form-control" id="gameDescription" name="gameDescription"></textarea>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-4 pt-0">Game is public</legend>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="gamePublicYes" name="gamePublic" value="true" checked>
                                    <label class="form-check-label" for="gamePublicYes">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="gamePublicNo" name="gamePublic" value="false">
                                    <label class="form-check-label" for="gamePublicNo">No</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="createGameButton">
                        Confirm
                    </button>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/gamesIndex.js"></script>
<%- include('../includes/footer') -%>