<%- include('../includes/header') -%>
<div class="container">
    <h1>Account details</h1>
    <div class="row text-center">
        <div class="col-sm-8 text-center">
            <h2>Display name</h2>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" for="displayName">Display Name</label>
        <div class="col form-group input-group">
            <div class="input-group-prepend input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
            <input class="form-control" type="text" id="displayName" name="displayName" value="<%= user.displayName %>"/>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" for="userKey">User ID</label>
        <div class="col form-group input-group">
            <div class="input-group-prepend input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
            <input class="form-control" type="text" id="userKey" name="userKey" value="<%= user.reference%>" readonly="readonly"/>
            <div class="input-group-append input-group-text" style="cursor:pointer" id="copyUserReferenceButton"><i title="Copy to Clipboard" class="fa fa-copy"></i></div>
            <small id="emailHelp" class="form-text text-muted">This is used in all API requests for your user account (for example to link your discord and NS accounts)</small>
        </div>

    </div>

    <div class="row"><div class="col-sm-8"><hr/></div></div>

    <div class="row">
        <div class="col text-center">
            <h2>Password</h2><br/>
            <p>You only need to supply your password if you intend on setting a new one</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" for="currentPassword">Current Password</label>
        <div class="col form-group input-group">
            <div class="input-group-prepend input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" for="newPassword">New Password</label>
        <div class="col form-group input-group">
            <div class="input-group-prepend input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
            <input type="password" id="newPassword" name="newPassword" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" for="confirmNewPassword">Confirm Password</label>
        <div class="col form-group input-group">
            <div class="input-group-prepend input-group-text"><i class="fa fa-check" aria-hidden="true"></i></div>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"/>
        </div>
    </div>

    <div class="row"><div class="col"><hr/></div></div>

    <div class="row">
        <div class="col text-center">
            <h2>Discord Accounts</h2>
            <p>
                Here you can see any Discord users you have added to this account.
                To add a discord user, you must DM the nodesaken bot and say to it <strong><em>identify <%= user.reference%></em></strong>.
                You will then see that account listed here where you can either approve it, to confirm it is your account or, if some unscrupulous person has gotten your reference, reject it.
                Until you accept the discord user here, it will not have privileges.
            </p>
        </div>
    </div>

    <%
        for (let discordUser of user.discordUsers)
        {
            %>
        <div class="row">
            <div class="col"><%= discordUser.tag %></div>
            <div class="col discordStatus"><%= discordUser.status %></div>
            <div class="col" data-discord-user-reference="<%= discordUser.reference %>">
                <button class="btn btn-primary discordUserApprove">Approve</button>
                <button class="btn btn-warning discordUserReject">Reject</button>
            </div>
        </div>

    <%
        }
    %>

    <div class="row"><div class="col"><hr/></div></div>
    <div class="row">
        <div class="col align-content-center">
            <button class="btn btn-primary" id="saveAccountSettingsButton"><i class="fa fa-save"></i>Save profile changes</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/accountDetails.js"></script>
<%- include('../includes/footer') -%>