<%- include('../includes/header') -%>
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#page1" data-toggle="tab" role="tab" aria-controls="page1-tab" aria-selected="true">Page 1</a></li>
        <li class="nav-item"><a class="nav-link" href="#page2" data-toggle="tab" role="tab" aria-controls="page2-tab" aria-selected="true">Page 2</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="page tab-pane active" id="page1" role="tabpanel" aria-labelledby="page1-tab">
            <div class="container-fluid">
                <div class="row" id="characterDetails">
                    <div class="col-1">
                        <div class="row">Name</div>
                        <div class="row">Player</div>
                        <div class="row">Chronicle</div>
                    </div>
                    <div class="col-3">
                        <div class="row"><%= character.name %></div>
                        <div class="row"><%= character.player %></div>
                        <div class="row"></div>
                    </div>
                    <div class="col-1">
                        <div class="row">Blood</div>
                        <div class="row">Bone</div>
                        <div class="row">Concept</div>
                    </div>
                    <div class="col-3">
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                    <div class="col-1">
                        <div class="row">Auspice</div>
                        <div class="row">Tribe</div>
                        <div class="row">Lodge</div>
                    </div>
                    <div class="col-3">
                        <div class="row"><%= character.auspice %></div>
                        <div class="row"><%= character.tribe %></div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col strike">
                        <span class="sectionHeading">Attributes</span>
                    </div>
                </div>

                <div class="row" id="attributes">
                    <div class="col">
                        <% for(let c in character.attributeCategories) { %>
                        <div class="row">
                            <div class="col-2 categoryName"><%= c %></div>
                            <% for(let a in character.attributeCategories[c]) { %>
                            <% let attribute = character.attributeCategories[c][a];%>
                            <div class="col attributeCol">
                                <div class="row xpPurchasable" data-name="<%= attribute.name %>" data-score="<%= attribute.score%>" data-cp-levels="<%= attribute.cpLevels %>" data-xp-levels="<%= attribute.xpLevels %>">
                                    <div class="col-7 attributeName"><%= attribute.name %></div>
                                    <div class="col-5 xpPurchasableValue">
                                        <% for (let i = 1; i <= attribute.score; i++) {%>
                                        <span data-score="<%= i%>"><i class="fas fa-circle"></i></span>
                                        <%}%>
                                        <% for(let i = attribute.score+1; i<= 5; i++) {%>
                                        <span data-score="<%= i%>"><i class="far fa-circle"></i></span>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% }%>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="bottomHalf row">
                    <div class="col-5 strike">
                        <span class="sectionHeading">Skills</span>
                    </div>
                    <div class="col-7 strike">
                        <span class="sectionHeading">Other Traits</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 skillsCol">
                        <% for(let u in character.skills.useGroups){ %>
                        <% let skillUseGroup = character.skills.useGroups[u];%>
                        <div class="row">
                            <div class="container-fluid text-center">
                                <h5><%= u %></h5>
                                <div class="unskilledPenalty">(-<%= skillUseGroup.penalty%> unskilled)</div>
                            </div>
                        </div>
                        <div class="col">
                            <% for(let skillName in skillUseGroup.items){%>
                            <% let skill = skillUseGroup.items[skillName]; %>
                            <div class="row xpPurchasable" data-name="<%= skill.name %>" data-score="<%= skill.score%>" data-cp-levels="<%= skill.cpLevels %>" data-xp-levels="<%= skill.xpLevels %>">
                                <div class="col skillName">
                                    <%= skill.name %>
                                </div>
                                <div class="col-5 xpPurchasableValue">
                                    <% for (let i = 1; i <= skill.score; i++) {%>
                                    <span data-score="<%= i%>"><i class="fas fa-circle"></i></span>
                                    <%}%>
                                    <% for(let i = skill.score+1; i<= 5; i++) {%>
                                    <span data-score="<%= i%>"><i class="far fa-circle"></i></span>
                                    <% } %>
                                </div>
                            </div>
                            <%}%>
                        </div>
                        <% } %>
                    </div>

                    <div class="col">
                        <div class="container-fluid">
                            <div class="col-8">
                                <div class="row">
                                    <div class="container-fluid text-center"><h5>Merits</h5></div>
                                </div>
                                <div class="row">
                                    <div class="container-fluid text-center"><h5>Renown</h5></div>
                                </div>
                                <div class="row">
                                    <div class="container-fluid text-center"><h5>Aspirations</h5></div>
                                </div>
                                <div class="row">
                                    <div class="container-fluid text-center"><h5>Conditions</h5></div>
                                </div>
                            </div>
                            <div class="col-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page tab-pane" id="page2" role="tabpanel" aria-labelledby="page2-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col wwForm">
                        <div class="container-fluid align-middle">
                            <div class="row">
                                <div class="col">Size:</div>
                                <div class="col-1"><span class="derivedAttribute size"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Defense:</div>
                                <div class="col-1"><span class="derivedAttribute defense"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Initiative:</div>
                                <div class="col-1"><span class="derivedAttribute initiative"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Speed:</div>
                                <div class="col-1"><span class="derivedAttribute speed"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Armor:</div>
                                <div class="col-1"><span></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Perception:</div>
                                <div class="col-1"><span class="derivedAttribute perception"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col wwForm">
                        <div class="container-fluid align-middle">
                            <div class="row">
                                <div class="col">Size:</div>
                                <div class="col-1"><span class="derivedAttribute size"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Defense:</div>
                                <div class="col-1"><span class="derivedAttribute defense"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Initiative:</div>
                                <div class="col-1"><span class="derivedAttribute initiative"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Speed:</div>
                                <div class="col-1"><span class="derivedAttribute speed"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Armor:</div>
                                <div class="col-1"><span></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Perception:</div>
                                <div class="col-1"><span class="derivedAttribute perception"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col wwForm">
                        <div class="container-fluid align-middle">
                            <div class="row">
                                <div class="col">Size:</div>
                                <div class="col-1"><span class="derivedAttribute size"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Defense:</div>
                                <div class="col-1"><span class="derivedAttribute defense"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Initiative:</div>
                                <div class="col-1"><span class="derivedAttribute initiative"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Speed:</div>
                                <div class="col-1"><span class="derivedAttribute speed"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Armor:</div>
                                <div class="col-1"><span></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Perception:</div>
                                <div class="col-1"><span class="derivedAttribute perception"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col wwForm">
                        <div class="container-fluid align-middle">
                            <div class="row">
                                <div class="col">Size:</div>
                                <div class="col-1"><span class="derivedAttribute size"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Defense:</div>
                                <div class="col-1"><span class="derivedAttribute defense"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Initiative:</div>
                                <div class="col-1"><span class="derivedAttribute initiative"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Speed:</div>
                                <div class="col-1"><span class="derivedAttribute speed"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Armor:</div>
                                <div class="col-1"><span></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Perception:</div>
                                <div class="col-1"><span class="derivedAttribute perception"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col wwForm">
                        <div class="container-fluid align-middle">
                            <div class="row">
                                <div class="col">Size:</div>
                                <div class="col-1"><span class="derivedAttribute size"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Defense:</div>
                                <div class="col-1"><span class="derivedAttribute defense"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Initiative:</div>
                                <div class="col-1"><span class="derivedAttribute initiative"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Speed:</div>
                                <div class="col-1"><span class="derivedAttribute speed"></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Armor:</div>
                                <div class="col-1"><span></span></div>
                            </div>
                            <div class="row">
                                <div class="col">Perception:</div>
                                <div class="col-1"><span class="derivedAttribute perception"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/frontEndUI.js"></script>
<%- include('../includes/footer') -%>