<%- include('../includes/header') -%>
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#page1" data-toggle="tab" role="tab" aria-controls="page1-tab" aria-selected="true"  data-toggle="tooltip" data-placement="bottom" title="Attributes, Skills, Merits, Renown, Harmony">
                Page 1
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#page2" data-toggle="tab" role="tab" aria-controls="page2-tab" data-toggle="tooltip" data-placement="bottom" title="Forms, Gifts, Rites, Totem">
                Page 2
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#page3" data-toggle="tab" role="tab" aria-controls="page2-tab" data-toggle="tooltip" data-placement="bottom" title="Fighting Styles">
                Fighting Styles
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <%- include('./page1Forsaken') -%>
        <%- include('./page2Forsaken') -%>
        <%- include('./page3Forsaken') -%>
    </div>
</div>

<script type="text/javascript" src="/js/ForsakenToolkit.js"></script>

<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Loading</h4>
            </div>
            <div class="modal-body">
                <p>Loading the <span id="currentlyLoadingItem">merits database</span>.</p>
                <p>Please wait.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="meritsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Merits</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="meritChoice">Merit:</label>
                        <div class="col-sm">
                            <select id="meritChoice" name="meritChoice" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group row" id="specificMerit">
                        <label class="col-sm-3 col-form-label" for="meritSpecification">Detail:</label>
                        <div class="col-sm">
                            <input type="text" id="meritSpecification" name="meritSpecification" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="deleteMeritButton" class="btn btn-info">Delete</button>
                <button id="addMeritButton" class="btn btn-primary">Add</button>
                <button id="cancelMeritButton" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="giftsSelectorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Gifts</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="giftsModalBody">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="giftsModalGift">
                            Gift
                        </label>
                        <div class="col-sm">
                            <select id="giftsModalGift">
                                <option value="">--Choose one--</option>
                                <optgroup id="giftsModalAffinityGifts" label="Affinity Gifts">

                                </optgroup>
                                <optgroup id="giftsModalNonAffinityGifts" label="Non Affinity Gifts">

                                </optgroup>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer') -%>