<!-- Page 2 include -->
<%function formAttributeColumn(formName, form){ %>
<%let moddableAttributes = ['Strength', 'Dexterity', 'Stamina', 'Manipulation'];%>
<div class="col wwForm">
    <div class="container formAttributes" data-form="<%= formName %>">
        <% for(let a of moddableAttributes){%>
        <% var attribute = form.mechanical[a.toLowerCase()];
        if(attribute){ %>
        <div class="row">
            <div class="col">
                <%= a %>(<%=((attribute>0)?'+':'')+attribute%>):
            </div>
            <div class="col-1 formAttribute" data-attribute="<%= a %>" data-modifier="<%=attribute%>">
            </div>
        </div>
        <%}%>
        <% } %>
    </div>
</div>
<%
}

function formDerivedColumn(formName, form)
{
%><div class="col wwForm">
    <div class="container formDerivedAttributes" data-form="<%= formName %>">
        <div class="row">
            <div class="col">
                Size<%= form.mechanical.size?(' ('+(form.mechanical.size>0?'+':'')+form.mechanical.size+')'):''%>:
            </div>
            <div class="col-1"><span class="derivedAttribute size" data-attribute="size"></span></div>
        </div>
        <div class="row">
            <div class="col">Defense:</div>
            <div class="col-1"><span class="derivedAttribute defense" data-attribute="defense"></span></div>
        </div>
        <div class="row">
            <div class="col">
                Initiative<%= (form.informative && form.informative.initiative)?(' (+'+form.informative.initiative+')'):''%>:
            </div>
            <div class="col-1"><span class="derivedAttribute initiative" data-attribute="initiative" data-modifier="<%=form.mechanical.initiative%>"></span></div>
        </div>
        <div class="row">
            <div class="col">
                Speed<%= form.mechanical.speed?(' (+'+form.mechanical.speed+')'):''%>:
            </div>
            <div class="col-1 text-right"><div class="derivedAttribute speed" data-attribute="speed" data-modifier="<%=form.mechanical.speed%>"></div></div>
        </div>
        <div class="row">
            <div class="col">Armor:</div>
            <div class="col-1"><span></span></div>
        </div>
        <div class="row">
            <div class="col">
                Perception<%= form.mechanical.perception?(' (+'+form.mechanical.perception+')'):''%>:
            </div>
            <div class="col-1"><span class="derivedAttribute perception" data-attribute="perception" data-modifier="<%=form.mechanical.perception%>"></span></div>
        </div>
    </div>
</div>
<%
}
function giftFacetRow(list, giftFacet = null)
{
	if(giftFacet)
    {
%>
        <div class="giftFacet row text-left" data-list="<%=list%>" data-gift="<%=giftFacet.giftList%>" data-renown="<%=giftFacet.renown%>" data-name="<%=giftFacet.name%>">
            <div class="col-11"><%- `${giftFacet.giftList} (${giftFacet.renown})- ${giftFacet.name}` %></div>
            <div class="col-1 doNotPrint">[<a href="#" class="giftFacetDelete" title="Remove Facet">x</a>]</div>
        </div>
<%
    }
    else
    {
%>
        <div class="giftFacet row text-left">&nbsp;</div>
<%
    }
}
%>

<div class="page tab-pane" id="page2" role="tabpanel" aria-labelledby="page2-tab">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center formHeading">
                <h5 class="formName">Hishu</h5>
                <div class="formNameEnglish">(Human)</div>
            </div>
            <div class="col text-center formHeading">
                <h5 class="formName">Dalu</h5>
                <div class="formNameEnglish">(Near-Human)</div>
            </div>
            <div class="col text-center formHeading">
                <h5 class="formName">Gauru</h5>
                <div class="formNameEnglish">(Wolf-man)</div>
            </div>
            <div class="col text-center formHeading">
                <h5 class="formName">Urshul</h5>
                <div class="formNameEnglish">(Near-wolf)</div>
            </div>
            <div class="col text-center formHeading">
                <h5 class="formName">Urhan</h5>
                <div class="formNameEnglish">(Wolf)</div>
            </div>
        </div>

        <div class="row formAttributeMods">
            <% for(let i in character.formMods){%>
             <% formAttributeColumn(i, character.formMods[i]) %>
            <% } %>
        </div>

        <div class="row">
            <% for(let i in character.formMods){%>
                <% formDerivedColumn(i, character.formMods[i]) %>
            <%}%>
        </div>

        <div class="row">
            <div class="col text-center wwForm">
                <ul class="formSpecial">
                    <li>Sheep's Clothing</li>
                </ul>
            </div>
            <div class="col text-center wwForm">
                <ul class="formSpecial">
                    <li>Teeth/Claws +0L</li>
                    <li>Defense vs. Firearms</li>
                    <li>Mild Lunacy</li>
                    <li>Badass Motherfucker</li>
                </ul>
            </div>
            <div class="col text-center wwForm">
                <ul class="formSpecial">
                    <li>Teeth/Claws +2L</li>
                    <li>(Initiative +3)</li>
                    <li>Defense vs. Firearms</li>
                    <li>Full Lunacy</li>
                    <li>Regeneration</li>
                    <li>Rage</li>
                    <li>Primal Fear</li>
                </ul>
            </div>
            <div class="col text-center wwForm">
                <ul class="formSpecial">
                    <li>Teeth +2L/Claws +1L</li>
                    <li>Defense vs. Firearms</li>
                    <li>Moderate Lunacy</li>
                    <li>Weaken the Prey</li>
                </ul>
            </div>
            <div class="col text-center wwForm">
                <ul class="formSpecial">
                    <li>Teeth +1L</li>
                    <li>Chase Down</li>
                </ul>
            </div>
        </div>

        <div class="row" id="totemGiftsAndRites">
            <div class="col-4">
                <div class="strike"><span class="sectionHeading">Totem</span></div>
            </div>
            <div class="col">
                <div class="strike"><span class="sectionHeading">Gifts and Rites</span></div>
                <div class="row text-center"><h5 class="giftTitle">Moon Gifts</h5></div>
                <div class="row">
                    <div class="col">
                        <div class="row moonGift">
                            <div class="giftName col-7">&nbsp;</div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row moonGift">
                            <div class="giftName col-7">&nbsp;</div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="row text-center">
                            <h5 class="giftTitle">
                                Shadow Gifts
                                <button id="addShadowGiftsButton" class="btn">+</button>
                            </h5>

                        </div>
                        <div id="firstTenShadowGiftFacets" class="pageTwoGiftList">
                            <%
                                let shadowGiftFacetsForPage2 = character.firstTenShadowFacets;
                                for(let i = 0; i < 10; i++)
                                {
                                    giftFacetRow('shadow', shadowGiftFacetsForPage2[i]);
                                }
                            %>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row text-center">
                            <h5 class="giftTitle">
                                Wolf Gifts
                                <button class="btn" id="addWolfGiftsButton">+</button>
                            </h5>
                        </div>
                        <div id="firstTenWolfGiftFacets" class="pageTwoGiftList">
                            <%
                                let wolfGiftFacetsForPage2 = character.firstTenWolfFacets;
                                for(let i = 0; i < 10; i++)
                                {
                                    giftFacetRow('wolf', wolfGiftFacetsForPage2[i]);
                                }
                            %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of page 2 include-->