<%
function xpPurchasableRow(className, item)
{
    %><div class="row xpPurchasable"<%
    let dataValues = {
        'name':'name',
        'score':'score',
        'cp-levels':'cpLevels',
        'xp-levels':'xpLevels',
        'name':'name',
    };
    for(let dataName in dataValues)
    {
    	let value = dataValues[dataName];
    	%> data-<%=dataName%>="<%=item[value]%>"<%
    }
%>>
    <div class="col-7 <%=className%>"><%= item.name %></div>
    <div class="col-5 xpPurchasableValue"><%
        for (let i = 1; i <= item.score; i++)
        {
        %><span data-score="<%= i%>"><i class="fas fa-circle"></i></span><%
        }
        for(let i = item.score+1; i<= 5; i++)
        {
        %><span data-score="<%= i%>"><i class="far fa-circle"></i></span><%
        } %></div>
</div><%
}

function renownRow(renown)
{

    %><div class="row renown text-left"<%
    let dataValues = {
        'name':'name',
        'score':'score',
        'cp-levels':'cpLevels',
        'xp-levels':'xpLevels',
        'name':'name',
        'auspicious':'auspicious',
        'tribal':'tribal'
    };
        for(let dataName in dataValues)
        {
            let value = dataValues[dataName];
        %> data-<%=dataName%>="<%=renown[value]%>"<%
        }
    %>>
    <div class="col-8 renownName"><%= renown.name %></div>
    <div class="col-4 renownValue"><%
        for (let i = 1; i <= renown.score; i++)
        {
        %><span data-score="<%= i%>"><i class="fas fa-circle"></i></span><%
        }
        for(let i = renown.score+1; i<= 5; i++)
        {
        %><span data-score="<%= i%>"><i class="far fa-circle"></i></span><%
        } %></div>
    </div><%
}

function meritRow(index, item)
{
	item = item?item:{name:'', score:0, cpLevels:0, xpLevels:0};
%><div class="row merit text-left"<%
    let dataValues = {
        'name':'name',
        'score':'score',
        'cp-levels':'cpLevels',
        'xp-levels':'xpLevels',
        'specification':'specification',
    };
    for(let dataName in dataValues)
    {
        let value = dataValues[dataName];
    %> data-<%=dataName%>="<%=item[value]%>"<%
    }
    %> data-index="<%= index %>">
    <div class="col-8 meritName"><%= item.displayName%></div>
    <div class="col-4 meritValue"><%
        for (let i = 1; i <= item.score; i++)
        {
        %><span data-score="<%= i%>"><i class="fas fa-circle"></i></span><%
        }
        for(let i = item.score+1; i<= 5; i++)
        {
        %><span data-score="<%= i%>"><i class="far fa-circle"></i></span><%
        } %></div>
</div>
    <%
}

%>

<div class="page tab-pane active" id="page1" role="tabpanel" aria-labelledby="page1-tab">
    <div class="container-fluid">
        <div class="row" id="characterDetails" data-reference="<%= character.reference %>">
            <div class="col-1">
                <div class="row">Name</div>
                <div class="row">Player</div>
                <div class="row">Chronicle</div>
            </div>
            <div class="col-3">
                <div class="row" id="characterName"><%= character.name %></div>
                <div class="row"><%= character.player %></div>
                <div class="row"></div>
            </div>
            <div class="col-1">
                <div class="row">Blood</div>
                <div class="row">Bone</div>
                <div class="row">Concept</div>
            </div>
            <div class="col-3">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
            <div class="col-1">
                <div class="row">Auspice</div>
                <div class="row">Tribe</div>
                <div class="row">Lodge</div>
            </div>
            <div class="col-3">
                <div class="row" id="characterAuspice"><%= character.auspice %></div>
                <div class="row" id="characterTribe"><%= character.tribe %></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col strike">
                <span class="sectionHeading">Attributes</span>
            </div>
        </div>

        <div class="row" id="attributes">
            <div class="col"><% for(let c in character.attributeCategories)
                { %>
                <div class="row">
                    <div class="col-2 categoryName"><%= c %></div><%
                    for(let a in character.attributeCategories[c])
                    {
                        let attribute = character.attributeCategories[c][a];
                    %><div class="col attributeCol">
                        <% xpPurchasableRow('attributeName', attribute)%>
                    </div><% } %>
                </div><%
                }%>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="bottomHalf row">
            <div class="col-5 strike">
                <span class="sectionHeading">Skills</span>
            </div>
            <div class="col-7 strike">
                <span class="sectionHeading">Other Traits</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 skillsCol">
                <% for(let u in character.skills.useGroups)
                {
                    let skillUseGroup = character.skills.useGroups[u];
                %><div class="row">
                    <div class="container-fluid text-center">
                        <h5><%= u %></h5>
                        <div class="unskilledPenalty">(-<%= skillUseGroup.penalty%> unskilled)</div>
                    </div>
                </div>
                <div class="col">
                    <%
                    for(let skillName in skillUseGroup.items)
                    {
                        let skill = skillUseGroup.items[skillName];
                        xpPurchasableRow('skillName', skill)
                    }%>
                </div><%
                }%>
            </div>

            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="container-fluid text-center">
                                    <h5>Merits</h5>
                                    <%
                                    for(let i = 0; i < 12; i++)
                                    {
                                    	meritRow(i, character.merits.items['merit_'+i]);
                                    }%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid text-center">
                                    <h5>Renown</h5>
                                    <%
                                    for(let i in character.renown.items)
                                    {
                                    	renownRow(character.renown.items[i]);
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid text-center"><h5>Aspirations</h5></div>
                            </div>
                            <div class="row">
                                <div class="container-fluid text-center"><h5>Conditions</h5></div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <div class="row" id="health">
                                <div class="col">
                                    <h5>Health</h5>
                                    <div id="healthInfo">
                                        (+2 Dalu Form, +4 Gauru Form, +3 Urshul Form)
                                    </div>
                                    <div class="row fillables" id="healthMax">
                                        <%for (let i = 1; i <= 16; i++){
                                        %><span class="healthLevel fillableCircleSmall" data-score="<%=i%>"><i class="<% if(character.derivedAttributes.health >= i){%>fas<%} else {%>far<%}%> fa-circle"></i></span><%
                                        }%>
                                    </div>
                                    <div class="row fillables" id="healthCurrent">
                                        <%for (let i = 1; i <= 16; i++){
                                        %><span class="healthLevel fillableSquareSmall" data-score="<%=i%>"><i class="<% if(character.derivedAttributes.health >= i){%>far<%} else {%>fas<%}%> fa-square"></i></span><%
                                        }%>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="willpower">
                                <div class="col">
                                    <h5>Willpower</h5>
                                    <div class="row fillables" id="willpowerMax">
                                        <%for (let i = 1; i <= 10; i++){
                                        %><span class="healthLevel fillableCircleSmall" data-score="<%=i%>"><i class="<% if(character.derivedAttributes.willpower >= i){%>fas<%} else {%>far<%}%> fa-circle"></i></span><%
                                        }%>
                                    </div>
                                    <div class="row fillables" id="willpowerCurrent">
                                        <%for (let i = 1; i <= 10; i++){
                                        %><span class="healthLevel fillableSquareSmall" data-score="<%=i%>"><i class="<% if(character.derivedAttributes.willpower >= i){%>far<%} else {%>fas<%}%> fa-square"></i></span><%
                                        }%>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="primalUrgeContainer">
                                <div class="col">
                                    <h5>Primal Urge</h5>
                                    <div class="row fillables" id="primalUrge" data-cp-levels="<%= character.primalUrge.cpLevels%>" data-xp-levels="<%= character.primalUrge.xpLevels%>">
                                        <%for (let i = 1; i <= 10; i++){
                                        %><span class="healthLevel fillableCircleSmall" data-score="<%=i%>"><i class="<% if(character.primalUrge.score >= i){%>fas<%} else{ %>far<%}%> fa-circle"></i></span><%
                                        }%>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="essenceContainer">
                                <div class="col">
                                    <h5>Essence</h5>
                                    <div class="row fillables" id="essence"><%
                                        for(let row = 0; row < 2; row++){%>
                                        <div>
                                        <%for (let i = 1; i <= 10; i++){
                                        	let score = row * 10 + i;
                                        %><span class="healthLevel fillableSquareSmall" data-score="<%=score%>"><i class="<% if(character.essenceMax >= score){%>far<%}else{%>fas<%}%> fa-square"></i></span><%
                                        }%>
                                        </div><%}%>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="harmonyContainer">
                                <div class="col">
                                    <h5>Flesh Touchstone</h5>
                                    <div class="row touchStone" id="fleshTouchstone"><%
                                        if(character.touchstones.flesh)
                                        {
                                            %><%= character.touchstones.flesh%><%
                                        }
                                        else
                                        {
                                            %>&nbsp;<%
                                        }%></div>
                                    <h5>Harmony</h5>
                                    <div class="row fillables" id="harmony">
                                        <%for (let i = 1; i <= 10; i++){
                                        %><span class="healthLevel fillableCircleSmall" data-score="<%=i%>"><i class="<%= character.harmony >= i?'fas':'far'%> fa-circle"></i></span><%
                                        }%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>